<!DOCTYPE html>
	<html>
	<head>
		<title>Template - Watson</title>
		<meta charset=utf-8>
		<meta name=description content="An open-source utility for finding the digital footprints of anyone using a range of online sources from their email address.">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<link rel="icon" href="assets/img/favicon.png" type="image/png">
		<link rel=stylesheet href="assets/css/style.css">
	</head>
	<body>

		<div class="logo"><h1>Watson<span>.</span></h1></div>

	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="assets/js/watson.js"></script>
	<script src="assets/js/script.js"></script>
</html>