<!DOCTYPE html>
	<html>
	<head>
		<title>404 - Watson</title>
		<meta charset=utf-8>
		<meta name=description content="An open-source utility for finding digital footprints from a range of sources just using an email.">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<link rel="icon" href="assets/img/favicon.png" type="image/png">
		<link rel=stylesheet href="assets/css/style.css">
	</head>
	<body>

		<h1 class="error-title">404<span>.</span></h1>
		<h1 class="error-sub">Page not found!</h1>

		<br><a href="/" class="home-button">Home</a>

	</body>
</html>