@import url('https://fonts.googleapis.com/css?family=Product+Sans:300,400,600,700');

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	background-color: #222;
	font-family: 'Product Sans';
}

.list-link-item {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #eee;
	margin: 0;
	position: relative;
	padding: 0;
	overflow: hidden;
	transition: all 0.2s;
}

.list-link-icon:hover {
	opacity: 0.6;
}

.list-link-profile {
	width: 32px;
	margin-top: 3px;
	height: 32px;
	margin-left: 10px;
	display: inline-block;
	border-radius: 32px;
	background-color: grey;
}

.list-link-title {
	font-size: 15px;
	margin-left: 4px;
	width: 170px;
	font-weight: 400;
	display: inline-block;
	vertical-align: middle;
	margin-top: -10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.list-link-icon {
	width: 16px;
	cursor: pointer;
	height: 16px;
	background-size: 16px 16px;
	right: 10px;
	position: absolute;
	top: 13px;
	transition: all 0.1s;
	background-image: url('../img/open.svg');
}

.external-text {
	font-weight: 400;
	color: #333;
	font-size: 19px;
	text-align: center;
	display: block;
	margin-top: 30px;
}

.external-text > span {
	color: #00E676;
}

.external-button {
	display: block;
	width: 150px;
	margin: 10px auto;
	border-radius: 40px;
	text-decoration: none;
	outline: none;
	font-weight: 700;
	height: 40px;
	text-transform: uppercase;
	line-height: 40px;
	color: white;
	text-align: center;
	background-color: #00E676;
	transition: all 0.1s;
}

.external-button:hover {
	opacity: 0.7;
	transition: all 0.1s;
}

.card-list {
	width: 100%;
	margin-top: 10px;
	height: auto;
}

.card-status {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	z-index: 13;
	left: 0;
	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s, opacity 0.1s linear;
}

.status-bubble:hover + .card-status { 
	visibility: visible;
	transition: visibility 0s, opacity 0.1s linear;
 	opacity: 1;
}

.status-bubble {
	position: absolute;
	right: 5px;
	top: 5px;
	transition: visibility 0s, opacity 0.1s linear;
	z-index: 14;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: 2.5px 3px;
	background-color: grey;
	border-radius: 100%;
}

.good {
	background-color: #00C853;
	background-image: url('../img/good.svg');
}

.external {
	background-color: #0288D1;
	background-image: url('../img/external.svg');
}

.guess {
	background-color: #F57C00;
	background-image: url('../img/guess.svg');
}

.status-tip {
	position: absolute;
	top: 50%;
	width: 93%;
	font-size: 19px;
	color: white;
	text-align: center;
	left: 50%;
	transform: translate(-50%, -50%);
}

.status-tip > span {
	color: #00E676;
}

.card-list-item {
	width: 100%;
	max-height: 30px;
	cursor: pointer;
	height: auto;
	border-bottom: 1px solid #eee;
	margin: 0;
	position: relative;
	padding: 0;
	overflow: hidden;
	transition: all 0.2s;
}

.show-details {
	max-height: 9999999px;
	transition: all 0.2s;
}

.list-title {
	font-size: 17px;
	margin-left: 10px;
	width: 250px;
	margin-top: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.list-expand {
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	right: 10px;
	position: absolute;
	top: 5px;
	transition: all 0.1s;
	background-image: url('../img/arrow.svg');
}	

.list-details {
	width: 100%;
	margin-top: -10px;
	overflow: hidden;
}

.list-detail-big {
	font-size: 17px;
	margin-left: 20px;
	margin-right: 20px;
}

.list-detail-big > span > a {
	color: #00E676;
	font-weight: 800;
	text-decoration: none;
}

.list-detail-big > span {
	font-size: 13px;
	font-weight: 400;
}

.list-detail {
	font-size: 17px;
	margin-left: 20px;
	margin-right: 20px;
}


.list-detail > span {
	font-size: 15px;
	font-weight: 400;
}

.list-expanded {
	transform: rotate(180deg);
	transition: all 0.1s;
}

.card-info-title {
	font-size: 17px;
	margin-left: 20px;
}


.card-info-value {
	font-size: 15px;
	font-weight: 400;
}


.card-image-wrapper {
	display: block; 
	margin: 10px auto;
	width: 64px; 
	text-align: center;
}

.card-image {
	width: 64px;
	height: 64px;
	border-radius: 100%;
	text-align: center;
}

.cards {
	width: 90%;
	height: auto;
	margin: 0 auto;
}

.card-title {
	font-weight: 700;
	font-size: 23px;
	margin-left: 10px;
	padding-top: 10px;
}

.card-title > span {
	color: #00E676;
}

.card-error-title {
	font-weight: 700;
	color: #333;
	font-size: 21px;
	text-align: center;
	display: block;
	margin-top: 40px;
}

.card-error-icon {
	width: 64px;
	height: 64px;
	margin: 20px auto;
	background-size: 64px 64px;
	background-image: url('../img/error.svg');
}

.card-error-title > span {
	color: #00E676;
}

.empty-title {
	font-weight: 700;
	color: #333;
	font-size: 21px;
	text-align: center;
	display: block;
	margin-top: 40px;
}

.empty-icon {
	width: 64px;
	height: 64px;
	margin: 20px auto;
	background-size: 64px 64px;
	background-image: url('../img/empty.svg');
}

.empty-title > span {
	color: #00E676;
}

.card-loader {
	background-image: url('../img/loader.svg');
	width: 48px;
	height: 48px;
	background-size: 48px 48px;
	margin: 45px auto;
}

.card {
	background-color: white;
	width: 270px;
	overflow: auto;
	height: 220px;
	vertical-align: top;
	display: inline-block;
	margin: 8px;
	transform: scale(0);
	border-radius: 2px;
	transition: all 0.2s;
}

.card-shown {
	transform: scale(1);
	transition: all 0.2s;
}

.clickable {
	cursor: pointer !important;
	transition: all 0.1s;
}

.clickable:hover {
	opacity: 0.6;
	transition: all 0.1s;
}

.logo > h1 {
	margin-top: 0px;
	font-size: 35px;
	margin-left: 20px;
	width: 100px !important;
}

.logo > h1 > span {
	color: #00E676;
}

.logo {
	user-select: none;
	position: fixed;
	color: white;
	width: 100%;
	padding-top: 10px;
	transition: all 0.2s;
	height: 50px;
	background-color: #222;
	z-index: 99;
	font-weight: 700;
	font-size: 35px;
}

.bottom-link {
	color: white;
	opacity: 0.6;
	font-weight: 400;
	position: absolute;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	bottom: 10px;
	cursor: pointer;
	text-decoration: none;
	font-size: 13px;
	right: 10px;
	text-transform: uppercase;
	transition: all 0.1s;
}

.bottom-link:hover {
	opacity: 1;
	transition: all 0.1s;
}

.terms-card {
	width: 80%;
	max-width: 800px;
	height: auto;
	border-radius: 2px;
	background-color: white;
	margin: 70px auto;
	padding: 10px;
}

.terms-card > h2, h3, p, ol {
	margin-left: 20px;
	margin-right: 20px;
}

.terms-card > p > a {
	color: #00E676;
	text-decoration: none;
}

.hero {
	width: 100%;
	height: auto;
	text-align: center;
}

.email-input {
	-webkit-appearance: none;
	max-width: 400px;
	outline: none;
	text-align: center;
	font-family: 'Product Sans';
	font-weight: 400;
	border-radius: 40px;
	font-size: 16px;
	border: 2px solid lightgrey;
	width: 80%;
	height: 40px;
	position: relative;
	margin-top: 210px;
	transition: all 0.1s;
}

@-webkit-keyframes autofill {
    to {
        color: black;
        background: white;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.button-line {
	width: 3px;
	height: 30px;
	background-color: lightgrey;
	margin: 0 auto;
	transition: all 0.1s;
}

.active-button {
	cursor: pointer !important;
	background-color: #00E676 !important;
	transition: all 0.1s;
}

.button {
	width: 55px;
	height: 55px;
	margin: 0 auto;
	user-select: none;
	cursor: not-allowed;
	text-align: center;
	color: white;
	font-weight: 800;
	font-size: 20px;
	line-height: 55px;
	border-radius: 55px;
	background-color: lightgrey;
	transition: all 0.1s;
}

.line-hide {
	height: 0px;
	transition: all 0.1s;
}

.text-mode {
	user-select: none;
	margin-top: 60px;
	width: 100%;
	background-color: transparent !important;
	border: none;
	color: white;
	transition: all 0.15s;
}

.text-mode::selection { 
   background: transparent; 
}

.button-hide {
	transition: all 0.1s;
	transform: scale(0);
}

.button:hover {
	opacity: 0.7;
	transition: all 0.1s;
}

.corner-loader {
	position: fixed;
	top: 17px;
	display: none;
	z-index: 100;
	right: 17px;
	height: 24px;
	width: 24px;
	background-size: 24px 24px;
	background-image: url('../img/loader.svg');
	transition: all 0.1s;
}

.corner-loader:hover {
	transition: all 0.1s;
	background-image: url('../img/close.svg');
	cursor: pointer;
	top: 14px;
	right: 20px;
	background-size: 30px 30px;
}

.stop-warning {
	width: 100%;
	height: 100%;
	user-select: none;
	position: fixed;
	z-index: 9999;
	pointer-events: none;
	background-color: rgba(0,0,0,0.6);
	display: none;
}

.stop-warning-box {
	width: 80%;
	max-width: 400px;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 2px;
	display: none;
}

.stop-warning-title {
	color: #333;
	margin-left: 10px;
	margin-top: 10px;
}

.stop-warning-sub {
	color: #666;
	margin-left: 10px;
	margin-top: -5px;
	font-size: 16px;
	margin-right: 10px;
	font-weight: 400;
}

.stop-buttons {
	width: 100%;
	overflow-x: hidden;
	height: 50px;
	margin-top: 30px;
	border-top: 1px solid #00E676;
}

.stop-line {
	width: 1px;
	background-color: #00E676;
	height: 50px;
	bottom: 0;
	left: 50%;
	position: absolute;
	margin: 0 auto;
}

.stop-button {
	display: inline-block;
	padding: 0;
	pointer-events: auto !important;
	text-align: center;
	line-height: 50px;
	height: 50px;
	cursor: pointer;
	color: #00E676;
	text-transform: uppercase;
	font-weight: 900;
	width: 50%;
	box-sizing: border-box;
}

.stop-button:hover {
	background-color: #00E676 !important;
	cursor: pointer;
	color: white !important;
}

.error-title {
	font-size: 140px;
	color: white;
	text-align: center;
}

.error-title > span {
	color: #00E676;
}

.error-sub {
	font-size: 30px;
	font-weight: 400;
	color: white;
	margin-left: -20px;
	opacity: 0.6;
	margin-top: -110px;
	text-align: center;
}

.home-button {
	display:block;
	width: 105px;
	height: 30px;
	line-height: 30px;
	padding: 10px 50px 10px 50px;
	border-radius: 30px;
	background-color: white;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	-webkit-appearance: none;
	margin: 20px auto;
	text-transform: uppercase;
	font-weight: 700;
	color: #00E676;
	transition: all 0.1s;
}

.home-button:hover {
	color: white;
	background-color: #00E676;
	transition: all 0.1s;
}

.logo > span:hover {
	animation: pulse 0.4s infinite;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media only screen and (max-width: 635px) {
	.card {
		text-align: left;
		margin: 8px auto;
	}

	.cards {
		text-align: center;
	}
}